@import "tailwindcss";

@theme {
  /* Colores de FinTrack AI extraídos de Figma */
  --color-primary: #10b981; /* Verde Ingresos */
  --color-secondary: #f43f5e; /* Rosa Gastos */
  --color-action: #2563eb; /* Azul Eléctrico */
  --color-titles: #111827; /* Negro azulado */
  --color-bg-page: #eaeaea; /* Fondo gris personalizado */
  --color-secondary-titles: #6b7280; /* Gris secundario */

  /* Radio de borde para tus tarjetas */
  --radius-xl: 16px;
}

:root {
  --background: var(--color-bg-page);
  --foreground: var(--color-titles);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family:
    Arial, Helvetica, sans-serif; /* Puedes cambiarla a Inter luego */
}
